<!DOCTYPE html>
<html ng-app="mvcModule">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="bower_components/angular/angular.js"></script>
</head>
<body>
<div ng-controller="GrandFatherController" style="margin:10px;border:solid 1px red">
    爷爷的余额:{{balance}}<button>加钱</button>
    <div ng-controller="FatherController" style="margin:10px;border:solid 1px blue">
        爸爸的余额:{{balance}}<input ng-model="amount"><button ng-click="addMoney()">加钱</button>
        <div ng-controller="MeController" style="margin:10px;border:solid 1px goldenrod">
            我的余额:{{balance}}<button>加钱</button>
        </div>
    </div>
</div>

<div ng-controller="ZqGrandFatherController" style="margin:10px;border:solid 1px red">
    爷爷的余额:{{balance}}<button>加钱</button>
    <div ng-controller="ZqFatherController" style="margin:10px;border:solid 1px blue">
        爸爸的余额:{{balance}}<input ng-model="amount"><button ng-click="addMoney()">加钱</button>
        <div ng-controller="ZqMeController" style="margin:10px;border:solid 1px goldenrod">
            我的余额:{{balance}}<button>加钱</button>
        </div>
    </div>
</div>
</body>
<script>
    var app = angular.module('mvcModule',[]);//定会引起一个模块
    app.controller('GrandFatherController',function($scope){
        $scope.balance = 300;
        $scope.$on('addMoney',function(event,mny){
            $scope.balance = $scope.balance+mny;
        });
    });
    app.controller('FatherController',function($rootScope,$scope){
        $scope.balance = 200;
        $scope.addMoney = function(){
            $rootScope.$broadcast('addMoney',parseInt($scope.amount));
          /*  $scope.balance -= parseInt($scope.amount);
            $scope.$emit('addMoney',parseInt($scope.amount));
            $scope.balance -= parseInt($scope.amount);
            $scope.$broadcast('addMoney',parseInt($scope.amount));*/
        }
    });
    app.controller('MeController',function($scope){
        $scope.balance = 100;
        $scope.$on('addMoney',function(event,mny){
            $scope.balance = $scope.balance+mny;
        });
    });

    app.controller('ZqGrandFatherController',function($scope){
        $scope.balance = 300;
        $scope.$on('addMoney',function(event,mny){
            $scope.balance = $scope.balance+mny;
        });
    });
    app.controller('ZqFatherController',function($scope){
        $scope.balance = 200;
        $scope.addMoney = function(){
            $scope.balance -= parseInt($scope.amount);
            $scope.$emit('addMoney',parseInt($scope.amount));
            $scope.balance -= parseInt($scope.amount);
            $scope.$broadcast('addMoney',parseInt($scope.amount));
        }
    });
    app.controller('ZqMeController',function($scope){
        $scope.balance = 100;
        $scope.$on('addMoney',function(event,mny){
            $scope.balance = $scope.balance+mny;
        });
    });
</script>
</html>