<!DOCTYPE html>
<html ng-app="mvcModule">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="bower_components/angular/angular.js"></script>
</head>
<body>
<div ng-controller="MyCtrl">
    {{str}}
    {{out}}
    {{waiter}}
    {{ip}}
    {{port}}
    <button ng-click="add()">增加IP</button>
</div>
<div ng-controller="MyCtrl">
    {{str}}
    {{out}}
    {{waiter}}
    {{ip}}
    {{port}}
    <button ng-click="add()">增加IP</button>
</div>
</div>
</body>
<script>
    var app = angular.module('mvcModule',[]);
    //当所有模块加载之后执行的第一个方法
    app.run(function(ip,port){
        alert(ip+':'+port);
    });
    app.controller('MyCtrl',function($scope,prov,out,waiter,ip,port){
        $scope.str = prov;
        $scope.out = out;
        $scope.waiter = waiter.name;
        $scope.ip = ip;
        $scope.port = port.age;
        $scope.add = function(){
            ip.age= ip.age+1;
            port.age = port.age+1;
        }
    });
    app.config(function(provProvider,port){
        provProvider.str = 'www';
        port= {name:'yyy'};
    });
    // new 对象 $get() === 最后返回的对象了
    app.provider('prov',function(){
        this.str = 'zfpx';
        this.$get = function(){
            return this.str;
        }
    });
    //这个函数就是一个
    app.factory('out',function(){
        return 'zfpx';
    });
    //这个函数就是一个对象的构造函数，返回的是它的例
    app.service('waiter',function(){
        this.name = 'waiter';
        this.say = function(){
            alert(this.name);
        }
    });
    app.value('ip',{age:1});//定义之后可以修改
    app.constant('port',{age:1});//定义之后不能修改,但可以配置
</script>
</html>