<!DOCTYPE html>
<html ng-app="mvcModule">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="bower_components/angular/angular.js"></script>
</head>
<body id="body1" >
<div id="div1" ng-controller="mvcController">
    <input ng-model="say"/>
    <button ng-click="clickMe()">点我</button>
    <span ng-bind="say"></span>
</div>

<script>
    var app = angular.module('mvcModule', []);//定会引起一个模块
    //定义一个控制器 $scope就是这个控制器对应的视图模型
    app.controller('mvcController', function ($scope) {
        $scope.say = 'hello';
        $scope.clickMe = function () {
            console.log($scope.say);
        }
    });
</script>
</body>
</html>